<div class="tema">
<h1>Resultado de la operación</h1>
</div>
<br />
<div class="resp">
<%= "#@numero1 #@operacion #@numero2 = #@resultado" %>
</div>
<br />

<div id="back">
<%= link_to "Volver", :action => "index" %>
</div>
